<!DOCTYPE html>
<html class="no-js">

{% include "_sections/pre-header.html" %}



<body data-spy="scroll" data-target="#navigation" data-offset="120">


    <!-- navbar-->
    {% include "_sections/header.html" %}
    <!-- /.navbar-->
    <!-- about-->


    <!-- about-->
    <section id="about" class="text"
        style="margin-top: 10px; padding: 0px 0;  height:350px; background-image: url(https://1.cms.s81c.com/sites/default/files/2020-08-19/Learn%20Leadspace%202.jpg);">
        <div class="container" style="color:white; font-size:px;padding-top: 50px;;">
            <style>
                .tag_line {
                    -webkit-text-size-adjust: 100%;
                    --page-title-display: block;
                    -webkit-font-smoothing: antialiased;
                    --e-global-color-primary: #6EC1E4;
                    --e-global-color-secondary: #54595F;
                    --e-global-color-text: #7A7A7A;
                    --e-global-color-accent: #61CE70;
                    --e-global-color-3f0ae4df: #4054B2;
                    --e-global-color-63b56b3f: #23A455;
                    --e-global-color-75b67239: #000;
                    --e-global-color-7533ffc5: #FFF;
                    --e-global-typography-primary-font-family: "Roboto";
                    --e-global-typography-primary-font-weight: 600;
                    --e-global-typography-secondary-font-family: "Roboto Slab";
                    --e-global-typography-secondary-font-weight: 400;
                    --e-global-typography-text-font-family: "Roboto";
                    --e-global-typography-text-font-weight: 400;
                    --e-global-typography-accent-font-family: "Roboto";
                    --e-global-typography-accent-font-weight: 500;
                    word-wrap: break-word;
                    hyphens: manual;
                    border: 0;
                    font-style: inherit;
                    text-transform: none;
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    font-family: lato, sans-serif;
                    font-size: 40px;
                    font-weight: 900;
                    line-height: 48px;
                    max-width: 440px;
                    margin-bottom: 30px;
                    color: #fff;
                    margin-top: 40px;
                }
            </style>
            <h1 class="tag_line"> Test First Then Deploy </h1>
            Test almost all eveythings on sweet single interface
        </div>
    </section>
    <!-- about end-->




    <section id="about2" class="text" style="padding: 10px 0;">
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">


                <div class="col-md-3 mt-2">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/what-is-my-ip-address.html"
                                        title="Find browser Public IP Address" class="text-default mb-1"
                                        data-abc="false">DB Backup
                                        online</a>
                                </h6> <a href="https://consoleapi.com/what-is-my-ip-address.html"
                                    title="Find browser Public IP Address" class="text-muted" data-abc="true">
                                    Free tool for takeing backup of any DB
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 mt-2 ">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/fast-tools/whatsapp-direct.html"
                                        class="text-default mb-2" data-abc="true"> <img valign="absmiddle"
                                            src="https://consoleapi.com/static/images/wa.svg" alt="whatsapp link"
                                            width="32px" height="32px" class="WA-cm WA-cn"> Whatsapp Direct
                                    </a> </h6> <a href="#" class="text-muted" data-abc="true">
                                    Free fast tools for sending direct messages to non contact numbers
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 mt-2 ">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/fast-tools/webpage-malware-scanner.html"
                                        class="text-default mb-2" data-abc="true">Webpage Malware Scanner
                                    </a> </h6> <a href="#" class="text-muted" data-abc="true">
                                    Free fast tools to scan a website for malware, malicious redirects, malicious
                                    scripts and other bad
                                    stuff.
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 mt-2 ">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/fast-tools/email-smtp-test.html"
                                        class="text-default mb-2" data-abc="true">Email SMTP Test
                                    </a> </h6> <a href="#" class="text-muted" data-abc="true">
                                    Free fast tools for email smtp send message only
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 mt-2 ">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/fast-tools/http-server-header-test.html"
                                        class="text-default mb-2" data-abc="true">HTTP Server
                                        Header Test</a> </h6> <a href="#" class="text-muted" data-abc="true">
                                    Free fast tools for HTTP header/response test
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>




                <div class="col-md-3 mt-2">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/what-is-my-ip-address.html"
                                        title="Find browser Public IP Address" class="text-default mb-1"
                                        data-abc="false">What is my IP</a>
                                </h6> <a href="https://consoleapi.com/what-is-my-ip-address.html"
                                    title="Find browser Public IP Address" class="text-muted" data-abc="true">
                                    Free tool for finding browser public IP Address and show information
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>



                <div class="col-md-3 mt-2">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/convert-ppk-to-pem.html" title="Convert PPK to PEM"
                                        class="text-default mb-1" data-abc="false">Convert PPK to PEM
                                    </a>
                                </h6> <a href="https://consoleapi.com/what-is-my-ip-address.html"
                                    title="Convert PPK to PEM" class="text-muted" data-abc="true">
                                    convert <b>PPK</b> (Putty Private Key) file into <b>PEM</b> (Privacy Enhanced Mail)
                                    file
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>





                <div class="col-md-3 mt-2">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/google-indexing-api.html"
                                        title="Using a batch request, submit a bulk of URLs to Google's Indexing API"
                                        class="text-default mb-1" data-abc="false">Google Index Api
                                    </a>
                                </h6> <a href="https://consoleapi.com/google-indexig-api.html"
                                    title="Using a batch request, submit a bulk of URLs to Google's Indexing API"
                                    class="text-muted" data-abc="true">
                                    Submit a bulk of URLs to Google's Indexing API for
                                    Update/Delete URLs.
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>


                <div class="col-md-3 mt-2">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/check-blacklist-domain-ip.html"
                                        title="Check Blacklist - domains and IP" class="text-default mb-1"
                                        data-abc="false">Check Blacklist - Domains/IP
                                    </a>
                                </h6> <a href="https://consoleapi.com/check-blacklist-domain-ip.html"
                                    title="Check Blacklist - domains and IP" class="text-muted" data-abc="true">
                                    This tool is free and quick to check if your domain or IP address is blacklisted.
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-2">
                    <div class="card" style="border: 1px solid #f2ebeb;">
                        <div class="card-body">
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a
                                        href="https://consoleapi.com/test-domain-ssl-certificate.html"
                                        title="Check Blacklist - domains and IP" class="text-default mb-1"
                                        data-abc="false">Test domain's SSL Certificate
                                    </a>
                                </h6> <a href="https://consoleapi.com/test-domain-ssl-certificate.html"
                                    title="Check Blacklist - domains and IP" class="text-muted" data-abc="true">
                                    This tool is free and quick to check if yourdomain's SSL has valid
                                    Certificate .
                                </a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold"></h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>






    <!-- about end-->



    <!-- Services-->

    <!-- Services end-->

    <!-- Portfolio / gallery-->

    <!-- Portfolio / gallery end-->
    <!-- text page-->

    <!-- text page end-->
    <!-- contact-->




    {% include "_sections/footer.html" %}

    <!-- Javascript files-->
    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
    <!-- Bootstrap CDN-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- jQuery Cookie - For Demo Purpose-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- Lightbox-->
    <script src="js/ekko-lightbox.js"> </script>
    <!-- Sticky + Scroll To scripts for navbar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <!-- google maps-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <!-- <script src="js/gmaps.js"></script> -->
    <!-- main script-->
    <script src="js/front.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S8KEW16MJY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S8KEW16MJY');
    </script>
</body>

</html>