<style>
    .demoFont {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        word-spacing: 2.2px;
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }
</style>


<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light shadow p-3 mb-5 bg-white rounded"
        style="margin: 0 !important;">
        <a class="navbar-brand px-0 py-0" title="Console Api" href="/">
            <img alt="Console Api" height="60px" width="250px" height="50px" width="50px"
                src="https://consoleapi.com/static/csapi_logo.png" />
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="#">Home</a></li>
                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="">Blog</a></li>
                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="">Tools</a></li>
                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="">API</a></li>

                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="">FAQ</a></li>
                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="">Donate
                    </a></li>
                <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="">About
                    </a></li>
            </ul>
        </div>
    </nav>
</header>


<!-- about-->
<section id="about" class="text" style="padding: 5px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="heading">About ConsoleAPI</h5>
                <p class="lead">For Developer Console.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <p><img src="img/japan-mountains.jpg" alt="" class="img-responsive img-circle"></p>
            </div>
        </div>
    </div>
</section>
<!-- about end-->