<style>
	.demoFont {
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 18px;
		letter-spacing: 2px;
		word-spacing: 2.2px;
		color: #000000;
		font-weight: 700;
		text-decoration: none;
		font-style: normal;
		font-variant: normal;
		text-transform: none;
	}
</style>


<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light shadow p-3 mb-5 bg-white rounded"
		style="margin: 0 !important;">
		<table class="table w-auto table-sm border-0 px-0 py-0" style="padding: 0 !important;margin: 0 !important;">
			<tr>
				<td class="w-auto text-center" style="padding: 0 !important;margin: 0 !important;">
					<a class="navbar-brand px-0 py-0" href="/">
						<image src="https://consoleapi.com/static/csapi_logo.jpg" />
					</a>
				</td>
				<td class="w-auto" style="padding: 0 !important;margin: 0 !important;">
					<a class=" small demoFont" href="/">
						ConsoleAPI</a><br />

				</td>
			</tr>
			<tr>
				<td colspan="2">
					<i class="small text-muted">Developer's console</i>
				</td>
			</tr>
		</table>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="#"></a></li>
				<li class="nav-item"><a class="nav-link" href="#features"></a></li>
				<li class="nav-item"><a class="nav-link" href="#pricing"></a></li>
				<li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="#download">
					</a></li>
			</ul>
		</div>
	</nav>
</header>