<!DOCTYPE html>
<html class="no-js">

{% include "_sections/pre-header.html" %}


<body data-spy="scroll" data-target="#navigation" data-offset="120">


    <!-- navbar-->
    <header class="header">
        <div class="sticky-wrapper">
            <div role="navigation" class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <b>ConsoleAPI</b>
                    </div>

                    <div id="navigation" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#intro">Library</a></li>
                            <li><a href="#about">Documention </a></li>
                            <li><a href="#services">APIs</a></li>
                            <li><a href="#contact">Sign UP/In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /.navbar-->
    <!-- about-->


    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% include "_sections/navigation.html" %}
            </div>
            <div class="col-sm-7">


                <h6 class="heading">About What is My IP</h6>
                <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                        class="fa fa-star star"></i> </div>
                <p>An Internet Protocol address (IP address) is a numerical label assigned to
                    each device connected to a computer network that uses the Internet Protocol for
                    communication.[1][2] An IP address serves two main functions: host or network interface
                    identification and location addressing.</p>
                <p></p>


                <div class="table-responsive">


                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">
                                    Data<br>
                                    <small></small>
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th class="text-right" scope="row">IP</th>
                                <td>{{ip}}</td>
                            </tr>
                            <tr>
                                <th class="text-right" scope="row">Version</th>
                                <td>{{version}}</td>
                            </tr>
                            <tr>
                                <th class="text-right" scope="row">Hostname</th>
                                <td>{{hostname}}</td>
                            </tr>

                            <tr>
                                <th colspan="2" class="text-left" scope="row">City And Country detail</th>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">City Name</th>
                                <td>{{city}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Region Name</th>
                                <td>{{region_name}}</td>
                            </tr>
                            <tr>
                                <th class="text-right" scope="row">Region Code</th>
                                <td>{{region_code}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Zip</th>
                                <td>{{zip}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Location</th>
                                <td>{{latitude}}, {{longitude}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Country Name</th>
                                <td>{{country_name}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Country Capital</th>
                                <td>{{country_capital}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Country Code</th>
                                <td>{{country_code}}</td>
                            </tr>

                            <tr>
                                <th class="text-right" scope="row">Country Emoji</th>
                                <td>{{country_emoji}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Emoji Unicode</th>
                                <td>{{country_emojiU}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Native</th>
                                <td>{{country_native}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Langusages</th>
                                <td>
                                    {% if country_languages %}
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th> Code</th>
                                                <th>Name</th>
                                                <th>Native</th>
                                            </tr>
                                        </thead>
                                        {% for obj in country_languages %}
                                        <tr>
                                            <th>{{obj.code}}</th>
                                            <th>{{obj.name}}</th>
                                            <th>{{obj.native}}</th>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                    {% endif %}




                                </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Currency Name</th>
                                <td>{{country_currency_name}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Currency Code</th>
                                <td>{{country_currency_code}} </td>
                            </tr>
                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Currency Symbol</th>
                                <td>{{country_currency_symbol}} </td>
                            </tr>


                            <tr>
                                <th class="text-right text-nowrap" scope="row">Country Phone Code</th>
                                <td>{{country_phone}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Continent Name</th>
                                <td>{{continent_name}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Continent Code</th>
                                <td>{{continent_code}} </td>
                            </tr>


                            <tr>
                                <th colspan="2" class="text-left" scope="row">Developer's Technical detail</th>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">IP to Interger</th>
                                <td>{{integer}} </td>
                            </tr>
                            <tr>
                                <th class="text-right text-nowrap" scope="row">IP to Bits</th>
                                <td>{{binary}} </td>
                            </tr>
                            <tr>
                                <th class="text-right text-nowrap" scope="row">Size(in Bits</th>
                                <td>{{bits}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Global/Public IP?</th>
                                <td>{{is_global}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Local Link IP?</th>
                                <td>{{is_link_local}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Loopback IP?</th>
                                <td>{{is_loopback}} </td>
                            </tr>
                            <tr>
                                <th class="text-right text-nowrap" scope="row">Private IP?</th>
                                <td>{{is_private}} </td>
                            </tr>
                            <tr>
                                <th class="text-right text-nowrap" scope="row">Reserved IP?</th>
                                <td>{{is_reserved}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Unspecified IP?</th>
                                <td>{{is_unspecified}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Reverse Pointer</th>
                                <td>{{reverse_pointer}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Multicast IP</th>
                                <td>{{is_multicast}} </td>
                            </tr>

                            <tr>
                                <th class="text-right text-nowrap" scope="row">Multicast IP</th>
                                <td>{{is_multicast}} </td>
                            </tr>







                        </tbody>
                    </table>


                </div>


            </div>

            <div class="col-sm-3">.col-sm-3</div>
        </div>

    </div>
    </div>


    <footer style="background-color: #111;" class="section-inverse">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-6">
                    <p>&copy;2021 consoleapi.com</p>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </footer>
    <!-- Javascript files-->
    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
    <!-- Bootstrap CDN-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- jQuery Cookie - For Demo Purpose-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- Lightbox-->
    <script src="js/ekko-lightbox.js"> </script>
    <!-- Sticky + Scroll To scripts for navbar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <!-- google maps-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <!-- <script src="js/gmaps.js"></script> -->
    <!-- main script-->
    <script src="js/front.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S8KEW16MJY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S8KEW16MJY');
    </script>
</body>

</html>