<!DOCTYPE html>
<html class="no-js">

<head>
    <!-- view-source:demo.bootstraptemple.com/blackandwhite/
    https://bbbootstrap.com/snippets/bootstrap-ecommerce-product-grid-view-card-19577966
    
    https://forward-action.github.io/whatsapp-link-generator/


    <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!">Send Message</a>

    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Free Fast tools for sending whatsapp messages to any nonsaved contacts number directly.</title>
    <meta name="description"
        content="This Free Fast tools allows you to  send whatsapp messages to any nonsaved
    contact numbers directly. Click on 'Send Now' button after Just entering onsaved contact number with country code and message that you want to send">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">


    <meta property="og:title"
        content="Free Fast tools for sending whatsapp messages to any nonsaved contacts number directly and personalised WhatsApp link.">
    <meta property="og:site_name"
        content="Free Fast tools for sending whatsapp messages to any nonsaved contacts number directly and personalised WhatsApp link">
    <meta property="og:description"
        content="This Free Fast tools allows you to  send whatsapp messages to any nonsaved
    contact numbers directly. Click on 'Send Now' button after Just entering onsaved contact number with country code and message that you want to send">



    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://consoleapi.com/fast-tools/whatsapp-direct.html" />
    <meta property="og:image" content="https://consoleapi.com/static/csapi_logo.jpg" />
    <meta property="og:image:secure_url" content="https://consoleapi.com/static/csapi_logo.jpg" />
    <meta property="og:image:width" content="32" />
    <meta property="og:image:height" content="32" />


    <!-- Bootstrap and Font Awesome css-->
    <!-- we use cdn but you can also include local files located in css directory-->


    <!-- Google fonts - Montserrat for headings, Cardo for copy-->
    <!-- theme stylesheet-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-glyphicons.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!-- ekko lightbox-->
    <!-- <link rel="stylesheet" href="/static/css/ekko-lightbox.css">-->
    <!-- Custom stylesheet - for your changes-->
    <!-- <link rel="stylesheet" href="static/css/custom.css"> -->
    <!-- Favicon-->
    <link href="https://fontawesome.com/v3.2/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <style>
        .form-control::-webkit-input-placeholder {
            color: #bec6cc;
        }

        .form-control:-moz-placeholder {
            color: #bec6cc;
        }

        .form-control::-moz-placeholder {
            color: #bec6cc;
        }

        .form-control::placeholder {
            color: #bec6cc;
        }

        .form-control:-ms-input-placeholder {
            color: #bec6cc;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">


    {% include "_sections/header.html" %}

    <div>



    </div>


    <!-- about-->


    <div class="containernn" style="margin-top: 100px !important;">
        <div class="row">
            <div class="col-sm-2">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li class="active"><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="javascript:;"></a></li>
                        <li><a href="/what-is-my-ip-address.html" title="What is my IP Address"></a></li>
                        <li class="nav-divider"></li>
                        <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-7">
                <br />


                <h2>
                    About:
                    <small class="text-muted"> <img valign="absmiddle" src="https://consoleapi.com/static/images/wa.svg"
                            alt="whatsapp link" width="30px" height="30px" class="WA-cm WA-cn"> WhatsApp Direct Message



                    </small>
                </h2>

                <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                        class="fa fa-star star"></i>
                    <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up"></i>
                        <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i>
                        <div id="dislike1-bs3"></div>
                    </span>

                </div>
                <p class="text-justify">This Free Fast tools allows you to send whatsapp messages to any nonsaved
                    contact numbers directly. Click on 'Send Now' button after Just entering onsaved contact number with
                    country code and message that you want to send. Create a personalised WhatsApp link with a
                    predefined message in seconds and share it with your audience on social media!
                </p>
                <p></p>

                <form name="frmHTTPSverReq">

                    <table class="table">
                        <tr>
                            <td colspan="4">
                                <label> Whatsapp Number: </label>
                                <input type="text small" name="mobileno" class="form-control" id="mobileno"
                                    placeholder="Enter phone number with country code like +919911033016">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">

                                <label> Whatsapp Message: </label><textarea type="text small" name="wamsg"
                                    class="form-control" id="wamsg" placeholder="Enter whatsappno message"></textarea>
                            </td>
                        </tr>


                        <tr>
                            <td width="40%">

                                <label> Open WhatsApp App if installed ?: </label>
                            </td>
                            <td colspan="3" class="text-left">
                                <input checked style="width:30px" type="checkbox" name="waautoopen"
                                    class="form-control small" id="waautoopen"></textarea>
                            </td>
                        </tr>

                    </table>
                    <button id="SendNow" type="button" class="btn btn-primary btn-lg btn-block">Send Now</button>

                    <hr />


                </form>




                <section>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item waves-effect waves-light active">
                            <a class="nav-link small active" id="general-tab" data-toggle="tab" href="#general"
                                role="tab" aria-controls="general" aria-selected="true" aria-expanded="true">General</a>
                        </li>
                    </ul>



                    <div class="tab-content">
                        <div id="general" class="tab-pane in active">
                            <div id="general_tab_nocontent" class="p-5 text-muted">
                                <center> No Data Available. Please initiate a refresh request.</center>
                            </div>
                            <div id="general_tab_content" style="display: none;">
                                <table id="general_tab_nocontent" style="display:none"
                                    class="table table-responsive w-100 d-block d-md-table">


                                    <tr>
                                        <td class="small pr-2 text-right border-top-0" style="padding:0;margin: 0; ">
                                            Status Code:</td>
                                        <td id="general_tab_status" class="small text-muted text-left border-top-0"
                                            style="padding:0;margin: 0; padding-top: 3px;">

                                        </td>
                                    </tr>


                                    <tr>

                                        <td width="20%" class="small pr-1 border-top-0 text-right"
                                            style="padding:0;margin: 0; padding-top: 5px;">WhatsApp Supported:</td>


                                        <td class="small text-muted text-left"
                                            style="padding:0;margin: 0; padding-top: 3px;">
                                            <span id="general_tab_wasupported"></span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="20%" class="small pr-1 border-top-0 text-right"
                                            style="padding:0;margin: 0; padding-top: 5px;">WhatsApp OS:</td>

                                        <td class="small text-muted text-left"
                                            style="padding:0;margin: 0; padding-top: 3px;">
                                            <span id="general_tab_waos"></span>


                                        </td>
                                    </tr>





                                    <tr>
                                        <td width="20%" class="small pr-1 border-top-0 text-right"
                                            style="padding:0;margin: 0; padding-top: 5px;">WhatsApp Link1:</td>
                                        <td class="small text-muted text-left"
                                            style="padding:0;margin: 0; padding-top: 3px;">
                                            <span id="general_tab_waapi"></span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="20%" class="small pr-1 border-top-0 text-right"
                                            style="padding:0;margin: 0; padding-top: 5px;">WhatsApp Link2:</td>
                                        <td class="small text-muted text-left"
                                            style="padding:0;margin: 0; padding-top: 3px;">
                                            <span id="general_tab_waweb"></span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="20%" class="small pr-1 border-top-0 text-right"
                                            style="padding:0;margin: 0; padding-top: 5px;">WhatsApp Link3:</td>
                                        <td class="small text-muted text-left"
                                            style="padding:0;margin: 0; padding-top: 3px;">
                                            <span id="general_tab_wawebshort"></span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="20%" class="small pr-1 border-top-0 text-right"
                                            style="padding:0;margin: 0; padding-top: 5px;">WhatsApp Protocol:</td>
                                        <td class="small text-muted text-left"
                                            style="padding:0;margin: 0; padding-top: 3px;">
                                            <span id="general_tab_waprotocol"></span>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>

                </section>


            </div>

            <div class="col-sm-3"></div>
        </div>

    </div>

    {% include "_sections/footer.html" %}

    <!-- Javascript files-->

    <!-- Lightbox-->
    <!--  <script src="/static/js/ekko-lightbox.js"> </script>-->
    <!-- Sticky + Scroll To scripts for navbar-->
    <!-- main script-->
    <!-- <script src="/static/js/front.js"></script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S8KEW16MJY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S8KEW16MJY');
    </script>
    <script src="__/static/js/bootstrap-combobox.js" type="text/javascript"></script>
    <script type="text/javascript">

     //]]>
    </script>
    <script>
        response = {
            'errno': 0,
            'errmsg': '+OK',
            'url': 'https://www.rankwatch.com/tools/mobile-friendly-check.html',
            'method': 'GET',
            'version': 'HTTP/1.1',
            'status': [200, 'OK'],
            'address': '192.168.9.1',
            'compressed': 'gzip',
            'transfered': [200000, 23235252],
            'referer_policy': 'no-referrer-when-downgrade',
            'ssl_version': 'TLSv1.3',
            'ssl_secure': false,
            'content_type': 'application/json',
            'scheme': 'https',
            'domain': 'www.google.com',
            'port': '80',
            'username': 'username',
            'password': 'password',
            'path': '/',
            'query': 'client=opera&q=quer+para&sourceid=opera&ie=UTF-8&oe=UTF-8',
            'fragment': 'serplist',
            'get_params_decoded': { 'client': 'opera', 'q': 'quer para', 'sourceid': 'opera', 'ie': 'UTF - 8', 'oe': 'UTF-8' },
            'get_params_encoded': { 'client': 'opera', 'q': escape('quer para'), 'sourceid': 'opera', 'ie': 'UTF-8', 'oe': 'UTF-8' },
            'get_params_raw': 'client=opera&q=' + escape('quer para') + '&sourceid=opera' + '&ie=UTF-8' + '&oe=UTF-8',
            'get_params_size': null,
            'post_params': { 'client': 'opera', 'q': 'quer para', 'sourceid': 'opera', 'ie': 'UTF - 8', 'oe': 'UTF-8' },
            'post_params_encoded': { 'client': 'opera', 'q': escape('quer para'), 'sourceid': 'opera', 'ie': 'UTF-8', 'oe': 'UTF-8' },
            'post_params_raw': 'client=pos  opera&q=' + escape('quer para') + '&sourceid=opera' + '&ie=UTF-8' + '&oe=UTF-8',
            'post_params_size': null,
            'request_cookies': [
                {
                    "CookieName": "CookieValue",
                    'Domain': 'www.google.com',
                    'Path': '/',
                    'Expires': 'Sat, 31-Jul-2021 15:12:53 GMT',
                    'Comment': 'Comment',
                    'MaxAge': '2000',
                    'SameSite': 'SameSite',
                    'HttpOnly': true,
                    'Secure': true,
                    'Size': 10,
                    'Sessionkey': true,
                    'Version': 1.0,
                    'Priority': 'medium'
                },
                {
                    'CookieName': 'CookieValue',
                    'Domain': 'www.google.com',
                    'Path': '/',
                    'Expires': 'Sat, 31-Jul-2021 15:12:53 GMT',
                    'Comment': 'Comment',
                    'MaxAge': '2000',
                    'SameSite': 'SameSite',
                    'HttpOnly': true,
                    'Secure': true,
                    'Size': 10,
                    'Sessionkey': true,
                    'Version': 1.0,
                    'Priority': 'medium'
                }

            ],
            'request_cookies_raw': 'CookieName1=CookieValue2; CookieName2=CookieValue3;',





            'response_cookies': [
                {
                    "CookieName": "CookieValue",
                    'Domain': 'www.google.com',
                    'Path': '/',
                    'Expires': 'Sat, 31-Jul-2021 15:12:53 GMT',
                    'Comment': 'Comment',
                    'MaxAge': '2000',
                    'SameSite': 'SameSite',
                    'HttpOnly': true,
                    'Secure': true,
                    'Size': 10,
                    'Sessionkey': true,
                    'Version': 1.0,
                    'Priority': 'medium'
                },
                {
                    "CookieName": "CookieValue",
                    'Domain': 'www.google.com',
                    'Path': '/',
                    'Expires': 'Sat, 31-Jul-2021 15:12:53 GMT',
                    'Comment': 'Comment',
                    'MaxAge': '2000',
                    'SameSite': 'SameSite',
                    'HttpOnly': true,
                    'Secure': true,
                    'Size': 10,
                    'Sessionkey': true,
                    'Version': 1.0,
                    'Priority': 'medium'
                },
                {
                    'CookieName': 'CookieValue',
                    'Domain': 'www.google.com',
                    'Path': '/',
                    'Expires': 'Sat, 31-Jul-2021 15:12:53 GMT',
                    'Comment': 'Comment',
                    'MaxAge': '2000',
                    'SameSite': 'SameSite',
                    'HttpOnly': true,
                    'Secure': true,
                    'Size': 10,
                    'Sessionkey': true,
                    'Version': 1.0,
                    'Priority': 'medium'
                }

            ],
            'response_cookies_raw': [
                '1P_JAR=2021-01-29-16; expires=Sun, 28-Feb-2021 16:20:12 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=none; Priority=High; Version=2.3; Comment=Comment; MaxAge=34564',
                '1P_JAR=2021-01-29-16; expires=Sun, 28-Feb-2021 16:20:12 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=none; Priority=High; Version=2.3; Comment=Comment; MaxAge=34564'
            ],
            'request_headers_map': [['Host', 'www.google.com'], ['Accept', 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'], ['Accept-Language', 'en-GB,en-US;q=0.9,en;q=0.8'], ['Accept-Encoding', 'gzip, deflate'], ['Cache-Control', 'max-age=0'], ['Upgrade-Insecure-Requests', '1']],
            'request_headers_raw': 'GET / HTTP/1.1\r\nAccept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9\r\nAccept-Language: en-GB,en-US;q=0.9,en;q=0.8\r\nAccept-Encoding: gzip, deflate\r\nCache-Control: max-age=0\r\nUpgrade-Insecure-Requests: 1',
            'response_headers_map': [['Host', 'www.google.com'], ['Accept', 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'], ['Accept-Language', 'en-GB,en-US;q=0.9,en;q=0.8'], ['Accept-Encoding', 'gzip, deflate'], ['Cache-Control', 'max-age=0'], ['Upgrade-Insecure-Requests', '1']],
            'response_headers_raw': 'GET / HTTP/1.1\r\nAccept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9\r\nAccept-Language: en-GB,en-US;q=0.9,en;q=0.8\r\nAccept-Encoding: gzip, deflate\r\nCache-Control: max-age=0\r\nUpgrade-Insecure-Requests: 1',
            'ssl_version': 'TLSv1.3',
            'ssl_cipher_suite': 'TLS_AES_256_GCM_SHA384',
            'ssl_key_exchange_group': 'X509v3',
            'ssl_cert_signature_algorithm': 'sha256WithRSAEncryption',
            'ssl_domain': 'www.google.com',
            'strict_transport_security': true,
            'ssl_public_key_pinning': true,
            'ssl_public_key_pins': null,
            'ssl_cert_issued_to_cn': 'www.google.com',
            'ssl_cert_issued_to_o': 'Google LLC',
            'ssl_cert_issued_to_ou': null,
            'ssl_cert_issued_to_l': 'Mountain View',
            'ssl_cert_issued_to_st': 'California',
            'ssl_cert_issued_to_c': 'US',
            'ssl_cert_issued_by_cn': 'GTS CA 1O1',
            'ssl_cert_issued_by_o': 'Google Trust Services',
            'ssl_cert_issued_by_ou': null,
            'ssl_cert_issued_by_u': 'US',
            'ssl_cert_issued_by_l': null,
            'ssl_cert_issued_by_st': null,
            'ssl_cert_issued_by_c': 'US',
            'ssl_cert_validity_begins_on': '5 Jan 2021',
            'ssl_cert_validity_expires_on': '30 Mar 2021',
            'ssl_fingerprints_sha256': '74:A5:BA:B8:3A:29:E3:DA:8B:51:AC:FB:C6:DC:11:69:8B:B7:50:13:A8:DC:8D:C5:A7:9B:A4:B0:4F:82:96:F2',
            'ssl_fingerprints_sha1': 'C4: C7: F3: 49: DC: 7C: C6: DC: 4C: 51: 56: 6E: 36: 12: 49: 9D: 69: ED: 95: A7',
            'ssl_fingerprints_md5': 'BB:20:E7:F8:9E:7E:16:B3:96:93:C0:C5:3B:B7:76:5F',
            'blocked_time_ms': 0,
            'dns_resolution_time_ms': 0.554,
            'connecting_time_ms': 0.30199999999999994,
            'ssl_setup_time_ms': 20.033,
            'pretransfer_time_ms': 0.09999999999999787,
            'sending_time_ms': 0.003657102584838867,
            'redirct_time_ms': 0,
            'waiting_time_ms': 86.85834289741516,
            'receive_time_ms': 19.647000000000006,
            'total_time_ms': 127.498

        }
        window.csapi = window.csapi || {
            general_tab: function (response) {
                $('#general_tab_url').html(response['url'])
                $('#general_tab_method').html(response['method'] ? response['method'] : '-')
                $('#general_tab_status').html($('<span>' + response['status'][0] + '</span>&nbsp;&nbsp;<span style="color:' + ((response['status'][0] < 100 || response['status'][0] != 200) ? '#FF0000' : '#008000') + '">' + response['status'][1] + '</span>'))
                $('#general_tab_redirect').html(response['redirect'] ? ('<span style="color:' + (1 ? '#FF0000' : '#008000') + '">' + response['redirect'] + '</span>') : '-')
                $('#general_tab_address').html((response['address'] ? response['address'] : '-') + ((response['port']) ? ':' + response['port'] : '-'))
                $('#general_tab_version').html(response['version'] ? response['version'] : '-')
                $('#general_tab_transfered').html(response['transfered'] ? this.human_size(response['transfered'][0]) + "( " + this.human_size(response['transfered'][1]) + ' )' : '-')
                $('#general_tab_referer_policy').html(response['referer_policy'] ? response['referer_policy'] : '-')
                $('#general_tab_compressed').html(response['compressed'] ? response['compressed'] : '-')
                $('#general_tab_sslversion').html(response['ssl_version'] ? response['ssl_version'] : '-')
                $('#general_tab_sslsecure').html(response['ssl_secure'] != null ? (response['ssl_secure'] ? '&#128274' : 'U+1F513') : '-')
                $('#general_tab_contenttype').html(response['content_type'] ? response['content_type'] : '-')
                $('#general_tab_timetotal').html(response['total_time_ms'] >= 0 ? response['total_time_ms'] + ' Milliseconds' : '-')



            },
            parseurl_tab: function (response) {
                $('#parseurl_tab_scheme').html(response['scheme'] ? response['scheme'] : '-')
                $('#parseurl_tab_domain').html(response['domain'] ? response['domain'] : '-')
                $('#parseurl_tab_port').html(response['port'] ? response['port'] : '-')
                $('#parseurl_tab_user').html(response['username'] ? response['username'] : '-')
                $('#parseurl_tab_password').html(response['password'] ? response['password'] : '-')
                $('#parseurl_tab_path').html(response['path'] ? response['path'] : '-')
                $('#parseurl_tab_request_uri').html(response['request_uri'] ? response['request_uri'] : '-')
                $('#parseurl_tab_query').html(response['query'] ? response['query'] : '-')
                $('#parseurl_tab_fragment').html(response['fragment'] ? response['fragment'] : '-')
                table = ''
                if (response['params']) {
                    table = '<table class="table">'
                    Object.keys(response['params']).forEach(function (key) {
                        table = table + '<tr>'
                        table = table + '<td width="20%" class="small  text-right" style="padding:0;margin: 0;">' + key + ':&nbsp;&nbsp;</td>'
                        table = table + '<td class="small text-muted text-left" style="padding:0;margin: 0;">' + response['params'][key] + '</td>'
                        table = table + '</tr>'
                    })
                    table = table + '</table>'
                }
                $('#parseurl_tab_params').html(table)

            },
            on_receive: function (response) {
                //if (response['errno'])
                response['status'] = [response['errno'], response['errmsg']]

                this.reset_tabs()
                this.general_tab(response)
                this.enable_tabs()
            },
            general_tab: function (response) {
                $('#general_tab_status').html($('<span>' + response['status'][0] + '</span>&nbsp;&nbsp;<span style="color:' + ((response['status'][0] != 0) ? 'red' : 'green') + '">' + response['status'][1] + '</span>'))
                //$('#general_tab_waos').html(response['waos'] == 'ios' ? '': '')
                $('#general_tab_waapi').html(response['wa_url'])
                $('#general_tab_waweb').html(response['wa_url2'])
                $('#general_tab_wawebshort').html(response['wa_url3'])
                $('#general_tab_waprotocol').html(response['wa_protocol'])
                $('#general_tab_wasupported').html(response['wa_supported'] ? '<font style="color:green">Supported</font>' : '<font style="color:red">Not Supported</font>');



            },
            reset_tabs: function () {

                $('#general_tab_nocontent').show()
                $('#general_tab_content').hide()

            },
            enable_tabs: function () {

                $('#general_tab_nocontent').hide()
                $('#general_tab_content').show()

                // $('#myTab a[href="#general"]').tab('show')
            },


        }
    </script>
    <script>
        $(function () {

            var timeout;
            var blur;
            var opened = false
            $('#SendNow').on('click', function () {
                mobileno = $('#mobileno').val()
                if (!mobileno || mobileno.length < 9) {
                    //try {
                    //     window.location = "whatsappss://send?phone=919911033016&test=hi";
                    //}
                    //catch (e) { alert('err') }
                    alert("Please enter valid mobile no")
                    return
                }
                wamsg = $('#wamsg').val()
                if (!wamsg || wamsg.length < 9) {
                    alert("Please enter valid message no")
                    return
                }

                var posting = $.post('/ajaxify/whatsapp-direct-response.json', { 'wano': mobileno, 'wamsg': wamsg });
                $('#SendNow').html("Please wait .....")
                $('#SendNow').attr('disabled', true)
                posting.done(function (response) {
                    $('#SendNow').html("Send Now")
                    $('#SendNow').attr('disabled', false)

                    if (!blur) {
                        window.addEventListener('blur', function (e) {
                            if (opened) {
                                window.clearTimeout(timeout);
                                timeout = null;
                                opened = false
                            }
                        });
                        blur = true;
                    }



                    if (response['wa_supported'] && $('#waautoopen:checked').val() == 'on') {
                        timeout = window.setTimeout(function () {
                            console.log('timeout');
                            wawin = window.open(response['wa_url3'], 'watab');
                            wawin.focus()
                        }, 2000);
                        opened = true
                        window.location = response['wa_protocol']
                    }
                    /*
                    s = document.createElement('img');
                    s.onerror = function (message, source, lineno, colno, error) {
                        alert(message)
                    }
                    s.src = response['wa_protocol'];
                    */

                    //alert(response['wa_android'])
                    window.csapi.on_receive.bind(window.csapi)(response)
                });
            })
            // window.csapi.on_receive.bind(window.csapi)(response)
        })
    </script>
</body>

</html>